html{
    margin: 0px;
    position: relative;
}
body{
    background-color:#ECF9FF;
}
h1{
    color: #2985ba;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.navigation{ 
    position: fixed;
    margin-right: 0px;
    padding-right: 100px;
    padding-left: 1px;
    float: right;
    margin-top: -100px;
    height: 88px;
    width: 322px;
    padding-top: 21px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000;
  
}

a{
      width: 180px;
    padding: 200px;
    text-align: center;
    text-decoration: none;
}
.btn { 
   float: right;
    background: #1f357d;
    background-image: -webkit-linear-gradient(top, #1f357d, #8d45b3);
    background-image: -moz-linear-gradient(top, #1f357d, #8d45b3);
    background-image: -ms-linear-gradient(top, #1f357d, #8d45b3);
    background-image: -o-linear-gradient(top, #1f357d, #8d45b3);
    background-image: linear-gradient(to bottom, #1f357d, #8d45b3);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 4px 3px 1px #2b1d2b;
    font-family: Georgia;
    color: #e9ff26;
    font-size: 20px;
    padding: 4px 12px 11px 13px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2985ba;
    background-image: -webkit-linear-gradient(top, #2985ba, #a32679);
    background-image: -moz-linear-gradient(top, #2985ba, #a32679);
    background-image: -ms-linear-gradient(top, #2985ba, #a32679);
    background-image: -o-linear-gradient(top, #2985ba, #a32679);
    background-image: linear-gradient(to bottom, #2985ba, #a32679);
    text-decoration: none;
  }
  .middle-container{
    margin-top: 120px;
   height: 200px;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #2445a9;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #136b9a;
    color: rgb(242, 235, 192);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #55859d;
  }
  .it{
    padding-bottom: 50px;
      margin-bottom: -20px;
     height: 200px;
     float:right;
  }
  
  